{% extends 'main.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<div style="text-align: center" id="container">
    <div class="container" style="position:relative;z-index:1;top:100px">
        <div class="row justify-content-center align-items-center" style="height:1vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
{%if request.user == slot.user %}
<h1>Delete {{ slot }}?</h1>

<form method="POST" action="">
{% csrf_token %}
Are you sure you want to delete this post?
<input type="submit" value="Yes"/>
<a href="{% url 'main' %}">Cancel </a>
</form>
{% endif %}

{%if request.user.username != creator %}
<h1>You cannot delete this entry</h1>
{% endif %}
</body>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="position:relative; display:inline-block; min-width:900px;">
        <img src="/static/img/C-0.svg" alt="C building" style="margin-left: auto;margin-right: auto;display: inline;position:relative;top:2px" width="596" height="879">
        <img src="/static/img/B-0.svg" alt="B building" style="margin-left: auto;margin-right: auto;display: inline;position:relative;top:2px" height="879">

        <a alt="067C" title="067C" href="{% url 'room' '067C' %}" style="top:72px; width:90px; left:122px; height:185px; position:absolute; display:inline; background: {{ states.Raum_067C }};"></a>
        <a alt="068C" title="068C" href="{% url 'room' '068C' %}" style="top:259px; width:70px; left:122px; height:137px; position:absolute; display:inline; background:{{ states.Raum_068C }};"></a>
        <a alt="069C" title="069C" href="{% url 'room' '069C' %}" style="top:398px; width:70px; left:122px; height:136px; position:absolute; display:inline; background:{{ states.Raum_069C }};"></a>
        <a alt="070C" title="070C" href="{% url 'room' '070C' %}" style="top:537px; width:70px; left:122px; height:90px; position:absolute; display:inline; background: {{ states.Raum_070C }};"></a>

        <a alt="066C" title="066C" href="{% url 'room' '066C' %}" style="top:72px; width:71px; left:25px; height:137px; position:absolute; display:inline; background:  {{ states.Raum_066C }};"></a>
        <a alt="065C" title="065C" href="{% url 'room' '065C' %}" style="top:211px; width:71px; left:25px; height:138px; position:absolute; display:inline; background: {{ states.Raum_065C }};"></a>
        <a alt="064C" title="064C" href="{% url 'room' '064C' %}" style="top:351px; width:71px; left:25px; height:137px; position:absolute; display:inline; background: {{ states.Raum_064C }};"></a>
        <a alt="063C" title="063C" href="{% url 'room' '063C' %}" style="top:491px; width:71px; left:25px; height:137px; position:absolute; display:inline; background: {{ states.Raum_063C }};"></a>

        <a alt="050B" title="050B" href="{% url 'room' '050B' %}" style="top:659px; width:165px; left:283px; height:68px; position:absolute; display:inline; background:{{ states.Raum_050B }};"></a>
        <a alt="051B" title="051B" href="{% url 'room' '051B' %}" style="top:659px; width:162px; left:450px; height:68px; position:absolute; display:inline; background:{{ states.Raum_051B }};"></a>

        <a alt="049B" title="049B" href="{% url 'room' '049B' %}" style="top:755px; width:141px; left:283px; height:68px; position:absolute; display:inline; background:{{ states.Raum_049B }};"></a>
        <a alt="048B" title="048B" href="{% url 'room' '048B' %}" style="top:755px; width:139px; left:426px; height:68px; position:absolute; display:inline; background:{{ states.Raum_048B }};"></a>


        <a alt="036B" title="036B" href="{% url 'room' '036B' %}" style="top:60px; width:89px; left:688px; height:187px; position:absolute; display:inline; background: {{ states.Raum_036B }};"></a>
        <a alt="035B" title="035B" href="{% url 'room' '035B' %}" style="top:250px; width:71px; left:707px; height:138px; position:absolute; display:inline; background:{{ states.Raum_035B }};"></a>
        <a alt="034B" title="034B" href="{% url 'room' '034B' %}" style="top:391px; width:71px; left:707px; height:138px; position:absolute; display:inline; background:{{ states.Raum_034B }};"></a>
        <a alt="033B" title="033B" href="{% url 'room' '033B' %}" style="top:532px; width:71px; left:707px; height:91px; position:absolute; display:inline; background: {{ states.Raum_033B }};"></a>

        <a alt="037B" title="037B" href="{% url 'room' '037B' %}" style="top:60px; width:71px; left:806px; height:140px; position:absolute; display:inline; background: {{ states.Raum_037B }};"></a>
        <a alt="038B" title="038B" href="{% url 'room' '038B' %}" style="top:202px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:{{ states.Raum_038B }};"></a>
        <a alt="039B" title="039B" href="{% url 'room' '039B' %}" style="top:343px; width:71px; left:806px; height:140px; position:absolute; display:inline; background:{{ states.Raum_039B }};"></a>
        <a alt="040B" title="040B" href="{% url 'room' '040B' %}" style="top:485px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:{{ states.Raum_040B }};"></a>
        <a alt="041B" title="041B" href="{% url 'room' '041B' %}" style="top:626px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:{{ states.Raum_041B }};"></a>
    </div>
</div>
{% endblock %}