{% extends 'base.html' %}

    {% load static %}
{% block content %}
    <div style="text-align: center">
        <div style="position:relative; display:inline-block; min-width:900px;">
            <img src="/static/img/C-0.svg" alt="Snow" style="margin-left: auto;margin-right: auto;display: inline;position:relative;top:2px" width="596" height="879">
            <img src="/static/img/B-0.svg" alt="Snow" style="margin-left: auto;margin-right: auto;display: inline;position:relative;top:2px" height="879">

            {# <a alt="67C" title="67C" href="#" style="top:72px; width:90px; left:122px; height:185px; position:absolute; display:inline-block; background:rgba(255,0,0,0.5);"/> #}
            <a alt="67C" title="67C" href="{% url 'room' '67' %}" style="top:72px; width:90px; left:122px; height:185px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            {# <a alt="67C" title="67C" href="#" style="top:72px; width:90px; left:122px; height:185px; position:absolute; display:inline-block; background:rgba(255,255,0,0.5);"/> #}
            {# <a alt="67C" title="67C" href="#" style="top:72px; width:90px; left:122px; height:185px; position:absolute; display:inline-block; background:rgba(0,0,0,0.5);"/> #}

                <a alt="68C" title="68C" href="{% url 'room' '68' %}" style="top:259px; width:70px; left:122px; height:137px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="69C" title="69C" href="{% url 'room' '69' %}" style="top:398px; width:70px; left:122px; height:136px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="70C" title="70C" href="{% url 'room' '70' %}" style="top:537px; width:70px; left:122px; height:90px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>

            <a alt="66C" title="66C" href="{% url 'room' '66' %}" style="top:72px; width:71px; left:25px; height:137px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="65C" title="65C" href="{% url 'room' '65' %}" style="top:211px; width:71px; left:25px; height:138px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="64C" title="64C" href="{% url 'room' '64' %}" style="top:351px; width:71px; left:25px; height:137px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="63C" title="63C" href="{% url 'room' '63' %}" style="top:491px; width:71px; left:25px; height:137px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>

            <a alt="50B" title="50B" href="{% url 'room' '50' %}" style="top:659px; width:165px; left:283px; height:68px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="51B" title="51B" href="{% url 'room' '51' %}" style="top:659px; width:162px; left:450px; height:68px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>

            <a alt="49B" title="49B" href="{% url 'room' '49' %}" style="top:755px; width:141px; left:283px; height:68px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="48B" title="48B" href="{% url 'room' '48' %}" style="top:755px; width:139px; left:426px; height:68px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>


            <a alt="36B" title="36B" href="{% url 'room' '36' %}" style="top:60px; width:89px; left:688px; height:187px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="35B" title="35B" href="{% url 'room' '35' %}" style="top:250px; width:71px; left:707px; height:138px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="34B" title="34B" href="{% url 'room' '34' %}" style="top:391px; width:71px; left:707px; height:138px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="33B" title="33B" href="{% url 'room' '33' %}" style="top:532px; width:71px; left:707px; height:91px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>

            <a alt="37B" title="37B" href="{% url 'room' '37' %}" style="top:60px; width:71px; left:806px; height:140px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="38B" title="38B" href="{% url 'room' '38' %}" style="top:202px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="39B" title="39B" href="{% url 'room' '39' %}" style="top:343px; width:71px; left:806px; height:140px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="40B" title="40B" href="{% url 'room' '40' %}" style="top:485px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
            <a alt="41B" title="41B" href="{% url 'room' '41' %}" style="top:626px; width:71px; left:806px; height:139px; position:absolute; display:inline; background:rgba(124,252,0,0.5);"></a>
        </div>
    </div>
{% endblock %}