{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div style="text-align: center">
  <img src="/static/img/C-0.svg" alt="Snow" style="margin-left: auto;margin-right: auto;display: inline-block;position:relative;top:2px" width="596" height="879" usemap="#image-map">
        <img src="/static/img/B-0.svg" alt="Snow" style="margin-left: auto;margin-right: auto;display: inline-block;position:relative;top:2px" height="879" usemap="#image-map2">

        <map name="image-map">
    <area target="" alt="67C" title="67C" href="#" coords="104,69,192,252" shape="rect">
    <area target="" alt="68C" title="68C" href="#" coords="174,393,104,254" shape="rect">
    <area target="" alt="69C" title="69C" href="#" coords="104,394,175,533" shape="rect">
    <area target="" alt="70C" title="70C" href="#" coords="104,533,176,629" shape="rect">
    <area target="" alt="50B" title="50B" href="#" coords="259,651,428,725" shape="rect">
    <area target="" alt="51B" title="51B" href="#" coords="429,649,594,727" shape="rect">
    <area target="" alt="49B" title="49B" href="#" coords="407,826,261,749" shape="rect">
    <area target="" alt="48B" title="48B" href="#" coords="408,752,544,822" shape="rect">
    <area target="" alt="47B" title="47B" href="#" coords="592,825,545,751" shape="rect">
    <area target="" alt="66C" title="66C" href="#" coords="77,208,2,66" shape="rect">
    <area target="" alt="65C" title="65C" href="#" coords="77,347,5,210" shape="rect">
    <area target="" alt="64C" title="64C" href="#" coords="78,488,3,347" shape="rect">
    <area target="" alt="63C" title="63C" href="#" coords="77,626,4,490" shape="rect">
</map>
<map name="image-map2">
    <area target="" alt="36B" title="36B" href="" coords="190,294,79,66" shape="rect">
    <area target="" alt="35B" title="35B" href="" coords="102,296,190,464" shape="rect">
    <area target="" alt="34B" title="34B" href="" coords="101,466,191,636" shape="rect">
    <area target="" alt="33B" title="33B" href="" coords="99,638,191,750" shape="rect">
    <area target="" alt="37B" title="37B" href="" coords="312,237,222,67" shape="rect">
    <area target="" alt="38B" title="38B" href="" coords="313,408,221,240" shape="rect">
    <area target="" alt="39B" title="39B" href="" coords="313,579,223,409" shape="rect">
    <area target="" alt="40B" title="40B" href="" coords="314,748,220,580" shape="rect">
    <area target="" alt="41B" title="41B" href="" coords="310,920,223,751" shape="rect">
</map>
    </div>
{% endblock %}